.contacts {
  display: flex;
  gap: 32px;

  // margin-left: auto;
  // column-gap: 30px;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.contacts__item {
  // display: flex;
  // align-items: center;

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   align-items: center;
  // }
}

.contacts__link {
  // display: flex;
  // align-items: center;
  // height: 100%;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: getColor('secondary-text');

  transition: color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    color: getColor('primary-active');
  }

  @media screen and (max-width: 767px) {
    &--tel {
      font-size: 34px;
      line-height: 1.18;

      color: getColor('primary-active');
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: calc(14 / 12);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.contacts__icon {
  &--envelope {
    @media screen and (max-width: 1199px) {
      width: 14px;
      height: 10px;
    }
  }

  &--tel {
    @media screen and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}
