.navigation {
  // display: flex;
  // align-items: center;
}

.navigation__list {
  display: flex;
  gap: 32px;
  // margin-left: 93px;
  // column-gap: 50px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    gap: 51px;
  }
}

.navigation__item {
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: getColor('primary-text');

  transition: color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    color: getColor('primary-active');
  }

  @media screen and (min-width: 768px) {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.navigation__link--active {
  color: getColor('primary-active');

  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      left: -4%;
      right: -4%;
      bottom: -1px;

      content: '';
      height: 4px;
      border-radius: 2px;
      background-color: getColor('primary-active');
    }
  }
}
