.subscribe-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 12px;
  }
}

.subscribe-form__input {
  display: block;

  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: inherit;
  color: getColor('primary-light-text');

  transition: border-color 250ms $animation-timing-function;

  &:focus {
    outline: none;
    border-color: getColor('primary-active');
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
