.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: inherit;
  color: getColor('primary-light-text');

  transition: border-color 250ms $animation-timing-function;

  &:focus {
    outline: none;
    border-color: getColor('primary-active');
  }
}

.subscribe-form__button {
  margin-left: 12px;
}
